
*{margin:0;padding:0;box-sizing:border-box;}

footer{
background:#d552a3;
min-height:30vh;
display:flex;
justify-content:space-around;
align-items:center;
padding:30px;
}

#first{
display:flex;
flex-direction:column;
gap:20px;
}

.box{
display:flex;
align-items:center;
gap:12px;
}

.box svg{
width:28px;
height:28px;
fill:#ffffcc;
}

.box span{
font-size:18px;
}

#second{
display:flex;
gap:25px;
}
