
*{margin:0;padding:0;box-sizing:border-box;}

form{
min-height:55vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#831c91,#2f578a);
padding:30px;
}

fieldset{
width:420px;
padding:30px;
background:white;
border:none;
border-radius:20px;
box-shadow:0 10px 25px rgba(0,0,0,.2);
}

h3{
text-align:center;
background:#232f72;
padding:12px;
border-radius:20px;
color:white;
margin-bottom:25px;
}

label{
display:inline-block;
width:100px;
font-weight:bold;
}

input{
padding:10px;
border-radius:8px;
border:1px solid #ccc;
margin-bottom:15px;
}
